#register{
    margin: 0 auto;
    background: transparent;
    border: 15px solid rgba(255, 26, 205, 0.35);
    backdrop-filter: blur(12px);
    width: 700px;
    color:rgb(222, 90, 255);
    text-shadow: 0.5px 0.5px rgb(109, 255, 64);
    font-size: 20px;
    margin-top: 7%;
    
}
.registerInfo{
    /* width: 300px; */
    text-align: center;
    font-size: 32px;
}
p{
    color: rgb(214, 255, 103);
    text-shadow: 1px 1px rgb(216, 131, 255);
    font-size: 35px;
    text-align: center;
}
img{
    width: 50%;
    height: 50%;
    margin: -50px;
    margin-top: 10px
}
input[type=text], input[type=password]{
    margin: 5px;
}
label {
    display: inline-block;
    text-align: left;
    width: 200px
}